/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header #branding {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 130px;
}

header span.user-meta {
  float: right;
}

body {
  background: #020401;
  color: #ffffff;
  font-family: 'Press Start 2P', 'Helvetica Neue', Arial, Sans;
  line-height: 1.4em;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1em;
}

h1 {
  font-size: 125%;
}

h2 {
  font-size: 120%;
}
h3 {
  font-size: 110%;
}

.notice {
  background: #5CAD5C;
  padding: 20px;
}

.errors {
  background: #FF7171;
  padding: 20px;
}

.alert {
  margin-bottom: 20px;
}

#content {
  padding: 20px;
}

#instructions {
  position: absolute;
  top: 20px;
  right: 20px;
}

#asteroids_canvas {
  margin: 0 auto;
}

#asteroids_canvas canvas {
  border: 0px solid #ccc;
}
